{% extends 'base.html' %}

{% block content %}
    <h1>Cart Page</h1>
    {% if equipments %}
        <a href="{% url 'booking' %}">place an order</a>
    {% endif %}
    {% for equipment in equipments %}
        <hr>
        <img width="150" src="/media/{{ equipment.photo.photo }}" alt="" class="">
        <h1> category {{ equipment.category }} </h1>
        <p> manufacturer {{ equipment.manufacturer }} </p>
        <p> model {{ equipment.model }} </p>
        <p> year {{ equipment.year }} </p>
        {% for reserv in reserved %}
            {% if reserv.id == equipment.id  %}
                <p>Reserved until {{ reserv.time }}</p>
            {% endif %}
        {% endfor %}
        <br>
        <a href="{% url 'detail_equipment' equipment_id=equipment.id %}">Detail</a>
        <hr>
    {% endfor %}
    <p> {{ message }} </p>
    {% include 'pagination.html' with page=equipments %}
    <hr>
    {% if booked %}
        <h1>You have already ordered</h1>
    {% endif %}
    <br>
    {% for booked_equip in booked %}
        <p>equipment = {{ booked_equip.equipment.category }} {{ booked_equip.equipment.manufacturer }} 
            {{ booked_equip.equipment.model }} price={{ booked_equip.equipment.price }}</p>
        <p>the order is placed on a phone number {{ booked_equip.phone_number }}</p>
        <a href="">Remove from order</a>
        <br><br>
    {% endfor %}
{% endblock %}