{% extends 'base.html' %}

{% block content %}
    

        <div class="">
            <div>
                <h2 class="">category {{ equipment.category }}</h2>
                <p class="">manufacturer: {{ equipment.manufacturer }}</p>
                <p class="">model: {{ equipment.model }}</p>
                <p class="">year: {{ equipment.year }}</p>
                <p class="">description: {{ equipment.description }}</p>
                <p class="">size: width - {{ equipment.width }} height - {{ equipment.height }} depth - {{ equipment.depth }}</p>

            </div>
        
            <div class="">
                {% for photo in photos %}
                    <img src="/media/{{ photo.photo }}" class="photo-image" alt="" style="{width: 400px; height: 300px; margin-right: 10px;}">
                {% endfor %}
            </div>
        </div>

{% endblock %}