{% extends 'base.html' %}

{% block content %}
    <h1>Eqipment in stock </h1>
    {% for equipment in equipments %}
        <hr>
        <img width="150" src="/media/{{ equipment.photo.photo }}" alt="" class="">
        <p>category {{ equipment.category }} | manufacturer {{ equipment.manufacturer }}  
            | model {{ equipment.model }}  | </p>
        <br>
        <a href="{% url 'detail_equipment' equipment_id=equipment.id %}">Detail</a>
        <hr>
    {% endfor %}
    <p> {{ message }} </p>
    {% include 'pagination.html' with page=equipments %}
{% endblock %}