{% extends 'base.html' %}

{% block content %}
    <h1>'its work' </h1>
    {% for equipment in equipments %}
        <hr>
        <img width="150" src="/media/{{ equipment.photo.photo }}" alt="" class="">
        <h1> {{ equipment.category }} </h1>
        <p> {{ equipment.manufacturer }} </p>
        <p> {{ equipment.model }} </p>
        <p> {{ equipment.year }} </p>
        <br>
        <a href="{% url 'detail_equipment' equipment_id=equipment.id %}">Detail</a>
        <hr>
    {% endfor %}
    <p> {{ message }} </p>
    {% include 'pagination.html' with page=equipments %}
{% endblock %}